@model BookTracker.DAL.WishlistEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WishlistEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WishFirstAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WishFirstAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WishLastAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WishLastAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
