@model IEnumerable<BookTracker.DAL.WishlistEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WishName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WishFirstAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WishLastAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WishName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WishFirstAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WishLastAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
